<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<h2>Research Items in {{items.meta.projectName}} Project</h2>
<p><input type="text" ng-model="search" class="search-query" placeholder="Search"></p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Research Item</th>
    <th>Description</th>
    <th><a href="#/{{projectId}}/items/new"><i class="icon-plus-sign"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in items.researchItems | filter:search | orderBy:'name'">
    <td><a href="#/{{projectId}}/items/{{item.researchItemId}}">{{item.subject}}</a></td>
    <td>{{item.description}}</td>
    <td>
      <a href="#{{projectId}}/items/edit/{{item.researchItemId}}"><i class="icon-pencil"></i></a>&nbsp; <a href="#/{{projectId}}/items/delete/{{item.researchItemId}}"><i class="icon-remove"></i>
    </td>
  </tr>
  </tbody>
</table>