<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
  <thead>
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="project in projects | filter:search | orderBy:'name'">
    <td><a href="#/{{project.ProjectId}}">{{project.Name}}</a></td>
    <td>{{project.Description}}</td>
    <td>
      <a href="#/edit/{{project.ProjectId}}"><i class="icon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>